<configuration>

    <property name="SMILE_LOG"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %p smile.boot %logger{50} as:%L %msg %n"></property>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>${SMILE_LOG}}</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>
